@font-face {
	font-family: "Play Regular";
	src: url("./Play-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background-image: url("mainbg2.jpg");
	background-position: top center;
	background-attachment: fixed;
}

/*
Navbar
*/

header {
	width: 800px;
	height: 50px;
	position: fixed;
	top: 30px;
	margin: 0 50%;
	transform: translateX(-50%);
	outline: 1px solid #ffffff;
	border-radius: 25px;
	display: flex;
	overflow: hidden;
	backdrop-filter: brightness(75%);
}

header a {
	color: #ffffff;
	font-size: 14px;
	font-family: "Play Regular";
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	flex: 1 1 0px;
	text-transform: uppercase;
}

header a:hover {
	text-shadow: #99ffff 1px 0 10px;
}

/*
Header tags
*/

h1 {
	width: 400px;
	font-size: 120px;
	font-family: "Play Regular";
}

h2 {
	font-family: "Play Regular";
	text-align: center;
}

/*
Sections
*/

section {
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section div {
	width: 1000px;
	height: fit-content;
	height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex: 1 1 0px;
	gap: 10px;
}

section div div {
	font-family: "Play Regular";
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

section div div.text {
	padding: 10px;
	backdrop-filter: brightness(40%);
	border-radius: 5px;
}

section div div h3 {
	margin: 10px 0px;
}

section div div p {
	margin: 0px;
	width: 100%;
}

section div div ul {
	width: fit-content;
}

section div div ul li {
	margin: 5px 15px;
}

/*
Front-page specifics
*/

#main-section {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#main-section p {
	width: 400px;
	font-size: 14px;
	font-family: "Play Regular";
	line-height: 2em;
	backdrop-filter: brightness(70%);
	border-radius: 5px;
	padding: 5px;
}

/*
Info section
*/
